.home{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;
}
.box1{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    background-color: #1b1b1b;
    color:white;
    width:40%;
    height:90vh;
}
.content{
    padding:20px;
}
#heading{
    font-size: 50px;
}
#subheadings{
    font-size: 20px;
}
#Jay{
    color:black;
    background-color: aliceblue;
    border-radius: 20px;
}

.box2{
    width:60%;
    height:90vh;
}
.container1{
    height:60%;
    width:100%;
    background-color:bisque;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3, 1fr);
    /* justify-items: center; */
    column-gap: 10px;
    row-gap: 10px;
}


.item{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 20px;
    padding:5px;
}
.feature{
    color:white;
    margin:5px;
}

.item img {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 20px;
}


.container2{
    height: 40%;
    width:100%;
    background-color: rgb(1, 1, 64);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.quote-container{
    background-color: rgb(174, 211, 243);
    border-radius: 10px;
    padding:10px;
}
.quote{
    padding:10px;
    text-align: center;
    background-color: rgb(174, 211, 243);
}
.quoter {
    text-align: right;
    /* background-color: aliceblue; */
}
@media (max-width:1050px) {
    .home{
        display: block;
    }
    .box1{
        width:95%;
        height:60vh;
        padding:20px;
    }
    .box2{
        width:100%;
        height:auto;
    }
    .container1{
        width:100%;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2, 1fr); 
    }

}