.card{
    width: 200px;
    box-shadow: 2px 2px 4px 2px rgb(168, 168, 168);
    margin: 40px;
}
.img{
    width: inherit;
    /* box-shadow:  2px 2px 4px 2px rgb(168, 168, 168); */
}
.card p{
    padding: 3px 10px;
}
.title{
    text-align: center;
    font-size: 25px;
}
.des{
    color: rgb(168, 168, 168);
    font-size: 12px;
}