
.fea-grid{
    /* height: 100vh; */
    display: grid;
    grid-template-columns:repeat(6,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    gap: 20px;
    align-items: center;
    padding: 10px;
}
.card{
    width: 200px;
    height:370px;
    box-shadow: 2px 2px 4px 2px rgb(168, 168, 168);
    text-align: center;
}
.img{
    width: 200px;
    height:200px;
    /* box-shadow:  2px 2px 4px 2px rgb(168, 168, 168); */
}
.card p{
    padding: 3px 10px;
}
.title{
    text-align: center;
    font-size: 18px;
}
.des{
    color: rgb(168, 168, 168);
    font-size: 12px;
}