.home{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/public/js.png");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    flex-direction: column;
}
