*{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav{
    display: flex;
    background-color: lightseagreen;
}
.list{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item{
    padding: 10px 20px;
    color: white;
}
.list:nth-child(1){
    display: none;
}
.ham{
    height: 4px ;
    margin: 5px;
    width: 40px;
    background-color: white;
}
.hamburger{
    position: absolute;
    transition: all ease-in-out 0.2s;
}
.c1{
    transform: rotate(45deg);
    top: 5px;
    position: relative;
    transition: all ease-in-out 0.2s;
}
.c2{
    display: none;
    position: relative;
    transition: all ease-in-out 0.2s;
}
.c3{
    transform: rotate(-45deg);
    top: -5px;
    position: relative;
    transition: all ease-in-out 0.2s;
}
@media (max-width:650px){
    .nav{
        display: block;
    }
    .list:nth-child(2){
        display: none;
    }
    .nbi{
        display: block;
    }
    .list:nth-child(1){
        display: flex;
        justify-content: flex-start;
    }
    .list:nth-child(1) .item{ 
        width: 100%;
    }
    .list:nth-child(1) .item:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}